.imgBody{
    width: 100%;
    height: 100vh;
}

.imgBodyVertical{
    display: none;
}
/* Estilo para las cartas de los jugadores */
.carta {
    border: 2px solid #333;
    border-radius: 10px;
    width: 8%;
    text-align: center;
    height: 20%;
    margin: 1%;
    padding: 0%;
    display: inline-block;
    word-wrap: break-word;
    background: black;
    color: white;
    box-shadow: -3px -1px 6px rgb(138 7 7 / 10%);
}

/* Estilo para la imagen del jugador */
.carta img {
    width: 40%;;
    max-height: 32%;
    border-radius: 100%;
    margin-bottom: 0px;
    margin-top: 5px;
}

/* Estilo para el nombre del jugador */
.carta strong {
    display: block;
    font-size: 16px;
    margin-bottom: 2px;
}

/* Estilo para las habilidades */
.carta p {
    font-size: 10px;
    margin: 0;
}

.alternarJugadoresX2, .alternarJugadoresIndividuales{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.css-button-shadow-border--red {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: #d90429;
    margin: 10px;
  }
  .css-button-shadow-border--red:hover {
    background-color: #ef233c;
  }
  .css-button-shadow-border--red:active {
    top: 2px;
  }

  .css-button-shadow-border--green {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: #57cc99;
    margin: 10px;
  }
  .css-button-shadow-border--green:hover {
    background-color: #80ed99;
  }
  .css-button-shadow-border--green:active {
    top: 2px;
  }


/* Establece el orden de visualización */
.posicion1{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.posicion2{
    position: absolute;
    top: 4%;
    left: 11%;
}

.posicion4{
    position: absolute;
    top: 25%;
    left: 11%;
}

.posicion5{
    position: absolute;
    top: 48%;
    left: 11%;
}

.posicion3{
    position: absolute;
    bottom: 0%;
    left: 11%;
}

.posicion6{
    position: absolute;
    top: 4%;
    left: 22%;
}

.posicion8{
    position: absolute;
    top: 25%;
    left: 22%;
}

.posicion9{
    position: absolute;
    top: 48%;
    left: 22%;
}

.posicion7{
    position: absolute;
    bottom: 0;
    left: 22%;
}

.posicion10{
    position: absolute;
    top: 25%;
    left: 33%;
}

.posicion11{
    position: absolute;
    bottom: 29.7%;
    left: 33%;
}

.posicion22{
    position: absolute;
    bottom: 29.7%;
    right: 33%;
}

.posicion21{
    position: absolute;
    top: 25%;
    right: 33%;
}

.posicion18{
    position: absolute;
    top: 4%;
    right: 22%;
}

.posicion20{
    position: absolute;
    top: 25%;
    right: 22%;
}

.posicion19{
    position: absolute;
    bottom: 30%;
    right: 22%;
}

.posicion17{
    position: absolute;
    bottom: 0%;
    right: 22%;
}

.posicion14{
    position: absolute;
    bottom: 0%;
    right: 11%;
}

.posicion16{
    position: absolute;
    bottom: 30%;
    right: 11%;
}

.posicion15{
    position: absolute;
    top: 25%;
    right: 11%;
}

.posicion13{
    position: absolute;
    top: 4%;
    right: 11%;
}

.posicion12{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

@media (max-width: 435px){
    .carta strong {
        font-size: 11px;
    }

    .carta{
        width: 40px !important;
    }
}

@media (max-width: 700px){

    .imgBodyVertical{
        display: block;
        width: 100%;
        height: 100vh;
    }

    .imgBody{
        display: none;
    }

    .carta{
        width: 80px;
        height: 70px;
    }
    .carta img{
        width: 60%;
        max-height: 57%;
    }
    .carta p{
        display: none;
    }
    .posicion1{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .posicion2{
        position: absolute;
        top: 11%;
        left: 10%;
    }

    .posicion3{
        position: absolute;
        top: 11%;
        left: 75%;
    }

    .posicion4{
        position: absolute;
        top: 11%;
        left: 31%;
    }

    .posicion5{
        position: absolute;
        top: 11%;
        left: 54%;
    }

    .posicion6 {
        position: absolute;
        top: 23%;
        left: 75%;
    }

    .posicion7 {
        position: absolute;
        top: 23%;
        left: 10%;
    }

    .posicion8 {
        position: absolute;
        top: 23%;
        left: 31%;
    }

    .posicion9 {
        position: absolute;
        top: 23%;
        left: 54%;
    }

    .posicion10 {
        position: absolute;
        top: 36%;
        left: 31%;
    }

    .posicion11 {
        position: absolute;
        top: 36%;
        left: 54%;
    }

    /* ************************************* */

    .posicion12{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        top: 89%;
    }

    .posicion13 {
        position: absolute;
        top: 78%;
        right: 9%;
    }

    .posicion14 {
        position: absolute;
        bottom: 11%;
        right: 73%;
    }

    .posicion15 {
        position: absolute;
        top: 78%;
        right: 29%;
    }

    .posicion16 {
        position: absolute;
        bottom: 11%;
        right: 53%;
    }

    .posicion17 {
        position: absolute;
        bottom: 25%;
        right: 9%;
    }

    .posicion18 {
        position: absolute;
        top: 63.8%;
        right: 73%;
    }

    .posicion19 {
        position: absolute;
        bottom: 25%;
        right: 29%;
    }

    .posicion20 {
        position: absolute;
        top: 63.8%;
        right: 53%;
    }

    .posicion21 {
        position: absolute;
        top: 52%;
        right: 29%;
    }

    .posicion22 {
        position: absolute;
        bottom: 36.7%;
        right: 53%;
    }

}